/* Scss Document */
.user-page{
  .uptin{
    display: inherit;
    height: auto;
    padding: 0;
    background: none;
    color: #000;
    padding: 0 5px;
  }
  .edit{
    white-space: nowrap;
    a{
      margin: -0px 5px;
    }
  }
  .title-post{
    font-size: 1.4rem;
    margin: 0;
    strong{
      font-size: 1.2rem;
    }
    color: $color-main;
    font-weight: bold;
    word-break: break-word;
  }
  .btn{
    
  }
}
.wrap-table{
	@extend %clearfix;
}
.table-list{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	font-size: 1.4rem;
	thead{
		th{
			padding: 10px;
			font-weight: bold;
			background: $color-main;
      color: #fff;
			white-space: nowrap;
		}
	}
	tbody{
		tr{
			&:nth-child(even){
				background: #fff;
			}
			&:nth-child(odd){
				background: $color-main-o;
			}
			&:hover{
				background: $color-1-o;
			}
		}
		td{
			padding: 10px;
		}
	}
}
.htitle{
	width: calc(100% - 200px);	
}
.status-post{
	text-align: center;
}
.edit{
	text-align: center;
}

/*Edit profile*/
#user_profile{
  margin: 15px -10px 0;
  @extend %clearfix;
  .form-group{
    @extend %flexbox;
    label{
      padding: 0 10px;
    }
  }
}
/*End Edit profile*/

.menu-user{
  width: 100%;
  float: left;
  li{
    border-top: 1px solid $color-border;
    &:last-child{
      border-bottom: 1px solid $color-border;
    }
  }
  a{
    display: block;
    padding: 10px;
  }
  span{
    margin-right: 5px;
  }
}

@media only screen and (max-width:1000px){
  .user-page{
    .title-post{
      overflow: visible;
      -webkit-line-clamp: inherit;
    }
  }
}

@media only screen and (max-width:600px){
  .table-list{
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
  }
}