/* Scss Document */
*, *:after, *:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
@media only screen and (max-width:1000px){
  .master_control{
      .menu{
      position: relative;
        left: 0;
        top: 25px;
    }
    .menu-toggler {
      display: none;
      width:0;
      height:0;
      z-index:2;
      opacity:0;
      border: none;
    }
    .menu-toggler:checked ~ ul .menu-item { 
      opacity: 1;
      visibility: visible;
    }
    .menu-toggler:checked ~ .close { 
      transform: scale(1) !important;
    }
    .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
      transform: rotate(0deg) translate(-70px);
    }
    .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
      transform: rotate(60deg) translateX(-70px);
    }
    .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
      transform: rotate(120deg) translateX(-70px);
    }
    .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
      transform: rotate(180deg) translateX(-70px);
    }
    .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
      transform: rotate(240deg) translateX(-70px);
    }
    .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
      transform: rotate(300deg) translateX(-70px);
    }
    .menu-toggler:checked ~ ul .menu-item a {
      pointer-events:auto;
    }
    .menu-toggler + label {
      width: 40px;
      height: 5px;
      display: block;
      z-index: 1;
      border-radius: 2.5px;
      background: rgba(230, 239, 250, 0.9);
      transition: transform 0.5s top 0.5s;
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .menu-toggler + label:before,
    .menu-toggler + label:after {
      width: 40px;
      height: 5px;
      display: block;
      z-index: 1;
      border-radius: 2.5px;
      background: rgba(255, 255, 255, 0.7);
      transition: transform 0.5s top 0.5s;
      content: "";
      position: absolute;
      display: block;
      left: 0;
    }
    .menu-toggler + label:before {
      top: 10px;
    }
    .menu-toggler + label:after {
      top: -10px;
    }
    .menu-item:nth-child(1) a {
      transform: rotate(0deg);
    }
    .menu-item:nth-child(2) a {
      transform: rotate(-60deg);
    }
    .menu-item:nth-child(3) a {
      transform: rotate(-120deg);
    }
    .menu-item:nth-child(4) a {
      transform: rotate(-180deg);
    }
    .menu-item:nth-child(5) a {
      transform: rotate(-240deg);
    }
    .menu-item:nth-child(6) a {
      transform: rotate(-300deg);
    }
    .menu-item {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 50px;
      height: 50px;
      opacity: 0;
      transition: 0.5s;
      visibility: hidden;
    }
    .menu-item a {
      display: block;
      width: inherit;
      height: inherit;
      line-height: 2;
      color: rgba(255, 255, 255, 1);
      background: $color-1;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      font-size: 1.8rem;
      pointer-events: none;
      transition: 0.2s;
      border: 5px solid #ffe563;
    }
    .menu-item a:hover {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
      color: white;
      background: $color-1;
    }
  }
  #master_control {
    width: 50px;
    height: 50px;
    background-color: $color-1;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 98;
    position: fixed;
    left: 5px;
    bottom: 90px;
    opacity: .45;
    outline: none;
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      border: 10px solid #ffe563;
      position: absolute;
      border-radius: 50%;
    }
    &:hover, &:focus{
      opacity: 1;
    }
    .close{
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: -1;
      left: 10px;
      top: -15px;
      transition: all .4s ease;
      transform: scale(0);
      &:before, &:after{
        content: '';
        width: 26px;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 2px;
        top: 14px;
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
    }
  }
  .mask-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.40);
    opacity: 0;
    visibility: hidden;	
    z-index: 11;
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }
}