@import "var.scss";
@media only screen and (max-width:1366px) {
	body{
		font-size: 1.6rem;
	}
	.title-section{
		font-size: 2.5rem;
	}
	.detail-page{
		h1{
			font-size: 2.5rem;
		}
	}
	.featured-news-2{
		.right-news{
			.wrap-list{
				max-height: 350px;
			}
		}
	}
}
@media only screen and (max-width:1280px) {
	.topbar{
		.list-info-user{
			left: auto;
			right: 0;
		}
	}
}
@media only screen and (max-width:1024px) {
	.featured-news{
		.container{
			.top-news{
				max-width: 50%;
			}
		}
	}
	.sub-featured{
		max-width: 50%;
	}
	.ads{display: none;}
	//header .logo{display: none;}
	.topbar-logo{
		position: absolute;
		left: 80px;
		top: -3px;
		//display: none;
		width: 90px;
	}
}

@media only screen and (max-width:1000px) {
	.topbar{
		padding: 10px 0;
		font-size: 1.8rem;
		.container{
			position: relative;
		}
	}
	header{
		padding: 5px 0;
		.logo{
			/*display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			width: 100%;
			justify-content: center;*/
			//display: none;
			img{
				height: 80px;
			}
		}
	}
	.topbar-logo{
		width: 115px;
		left: 130px;
	}
	main{
		width: 100%;
		padding-right: 0;
	}
	aside{display: none;}
	.footer{
		padding: 30px 0 120px;
		.container{
			display: block;
			.left{
				display: block;
				width: 100%;
				margin-bottom: 20px;
				.logo-footer{
					display: block;
					max-width: 250px;
					margin: 0 auto 10px;
				}
				.wrap-contact{
					text-align: center;
				}
			}
			.copyright{
				text-align: center;
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width:768px){
  /*Search home*/
  .section-home-search{
    .search-advance{
      flex-wrap: wrap;
      .form-group{
        width: 25%;
        margin-bottom: 0;
        &.input-search{
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
    .btn{
      width: calc(25% - 10px);
      margin-left: 5px;
    }
  }
  /*End Search home*/
}
@media only screen and (max-width:767px){
  .section-home-search{
    .search-advance{
      display: none;
    }
  }
	.topbar{
		.right{display: none;}
		.left{float: right;}
	}
	.topbar-logo{
		left: 50%;
		top: -3px;
		transform: translateX(-50%);
		width: 115px;
	}
	.control-mobile{
		background: #eee;
		width: 100%;
		height: 60px;
		position: fixed;
		left: 0;
		bottom: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		border-top: 1px solid #ddd;
		z-index: 10;
		a{
			width: 25%;
			position: static;
			color: #666;
			text-align: center;
			font-size: 1.5rem;
		}
		.news{
			width: 25%;
			position: static;
			color: #666;
			text-align: center;
		}
		.account{
			width: 25%;
			position: relative;
			color: #666;
			text-align: center;
			.list-info-user{
				position: absolute;
				bottom: calc(100% - 20px);
				background: #f7f7f7;
				padding: 5px;
				width: 160px;
				text-align: left;
				border-radius: 3px;
				opacity: 0;
				visibility: hidden;
				transition: all .3s ease;
				&.show{
					opacity: 1;
					visibility: visible;
					bottom: 100%;
				}
			}
			.btn-click{
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
		}
		.mdi{
			font-size: 2.5rem;
		}
		.txt{
			display: block;
			clear: both;
			font-size: 1.2rem;
			position: relative;
			top: -8px;
			white-space: nowrap;
		}
		.add-property{
			border: 1px solid #ccc;
			border-radius: 50%;
			width: 90px;
			height: 70px;
			position: relative;
			top: -12px;
			background: #f7f7f7;
			font-weight: bold;
			z-index: 1;
		}
		.list-news-cat{
			background: #f7f7f7;
			position: absolute;
			bottom: calc(100% - 20px);
			right: 0;
			text-align: left;
			border-bottom: 1px solid #eee;
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
			li{
				padding: 5px 10px;
				border-bottom: 1px solid #eee;
			}
		}
		.news{
			&:hover{
				.list-news-cat{
					opacity: 1;
					visibility: visible;
					z-index: 2;
					bottom: 100%;
				}
			}
		}
		#loginform{
			width: 255px;
			padding: 10px;
			position: absolute;
			bottom: calc(100% - 20px);
			background: #f7f7f7;
			font-size: 14px;
			text-align: left;
			color: #000;
			font-weight: bold;
			transition: all .3s ease;
			opacity: 0;
			visibility: hidden;
			&.show{
				visibility: visible;
				opacity: 1;
				bottom: 100%;
			}
		}
		.search-property{
			display: block;
			.mdi{
				color: #000;
			}
			.txt{
				top: -35px;
				color: #000;
			}
			&:before{
				width: 40px;
    			height: 40px;
				top: 50%;
				left: 50%;
				margin-left: -20px;
				margin-top: -20px;
			}
		}
	}
	.contact-mobile{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    background: #fff;
    left: 0;
    bottom: -51px;
    text-align: center;
    z-index: 2;
    border-top: 1px solid $color-border;
    transition: all .5s ease;
    &.pin{
      bottom: 0;
    }
    a{
      width: 100%;
      font-size: 2.5rem;
    }
    .call{
      color: #009c8e;
    }
    .zalo{
      font-size: 3.5rem;
      line-height: 1;
      color: #139dff;
    }
    .btn-nhantin{
      color: $color-main;
    }
	}
	.footer-link{
		.container{
			flex-wrap: wrap;
			.list-link{
				width: 50%;
				li{
					
				}
			}
		}
	}
}
@media only screen and (max-width:720px){
	.bottom-site{
		flex-wrap: wrap;
	}
	.col-bottom{
		width: 100%;
		padding: 15px;
	}
	.owl-dots{display: none;}
	#ac-wrapper{
		h4{
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			padding: 5px;
			margin: 0;
			background: rgba(0, 0, 0, 0.4);
			color: #fff;
		}
	}
}
@media only screen and (max-width:600px){
	html{
		font-size: 70%;
	}
	.list{
		.thumb-list{
			width: 150px;
		}
		.des{
			display: none;
		}
		.list-news .content .date{
			display: none;
		}
	}
	.control-post{
    display: none;
  }
  .section-home-search{
    .search-advance{
      .form-group{
        width: 100%;
        margin-bottom: 10px;
        &.input-search{
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
    .btn{
      width: 120px;
      margin-left: 5px;
    }
  }
  .popular .swiper-pagination{
    display: none;
  }
}
@media only screen and (max-width:360px){
	.list{
		.thumb-list{
			width: 120px;
		}
	}
	.footer-link{
		.container{
			.list-link{
				width: 100%;
				li{
					
				}
			}
		}
	}
}
@media only screen and (max-width:375px){
	.title-section{
		span{
			padding: 5px;
		}
	}
}