:root{

    /* menu */
    --menu-text:#16A085;
    --menu-text-selected:#ffa600;
    --sub-menu-text-selected:#ffe8a0;

    /* menu mobile */
    --main-menu-background:#167335;
    --sub-menu-lv1-background:#24bf58;
    --sub-menu-lv2-background:#66d28a ;


    /* button background: ; */
    --btn:#00A86B;

    --btn-hover:#006f47;

    /* button text  */
    --btn-text:#FFFFFF;



    /* title-secsion */
    --title-section:#16A085;
    
    /* title-post */
     --title-post:#009BA1;

     /* price */
     --price:#16A085;

     /* phone */
     --phone:#16A085;

     /* address */
    --address:#16A085;

    /* desc */
    --desc:#2C2C2C;

    /* date  */
    --date:#16A085;

    /* text */
    --text:#FFFFFF;

    /* background */
    --bg-color:#16A085;

    --button-border-radius:4px;
}