/* Scss Document */
/* Example 5 */

#example5 .sp-thumbnail-title {
	margin-bottom: 5px;
	color: #333;
}

#example5 .sp-thumbnail-description {
	font-size: 14px;
	color: #333;
}
.sp-thumbnail-image-container{
	float: left;
	width: 170px;
	margin-right: 10px;
	.thumb-5x3{
		position: relative !important;
	}
}
.sp-thumbnail-container{
	height: 102px !important;
}
@media (max-width: 500px) {
	#example5 .sp-thumbnail {
		text-align: center;
	}

	#example5 .sp-thumbnail-image-container {
		display: none;
	}

	#example5 .sp-thumbnail-text {
		width: 120px;
	}

	#example5 .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
	}

	#example5 .sp-thumbnail-description {
		display: none;
	}
}
