/* Scss Document */
.search-advance{
	background: #f9f9f9;
	padding: 10px;
	border: 1px solid $color-border;
	span{display: none;}
}
.form-group{
	width: 100%;
	float: left;
	margin-bottom: 10px;
  clear: both;
	label, .text{
		width: 100%;
		float: left;
		font-weight: 600;
		font-size: 1.5rem;
	}
  .text{
    margin-bottom: 3px;
  }
}
/*.form50{
	label{
		width: calc(50% - 5px);
		&:first-child{
			margin-right:10px;
		}
	}
}
.form3{
	label{
		width: calc(33.33334% - 6.666667px);
		margin-left: 10px;
		&:first-child{
			margin-left:0;
		}
	}
}*/
.form-2{
  @extend %flexbox;
  margin: 0 -10px 20px;
  width: auto;
	label{
		width: 50%;
		margin: 0 10px;
	}
}
.form-3{
  @extend %flexbox;
  margin: 0 -10px 20px;
  width: auto;
  float: none;
	label{
		width: 33.33%;
		margin: 0 10px 20px;
	}
}
.form-4{
  @extend %flexbox;
  margin: 0 -10px;
  width: auto;
	label{
		width: 33.33%;
		margin: 0 10px 20px;
	}
}

/*.level-0{display: none;}*/
/*Search basic*/
.search{
	position: relative;
	.search-input{
		width: calc(100% - 48px);
    background: #fff;
	}
	.search-submit{
		width: 48px;
		float: right;
    border-radius: 0 3px 3px 0
	}
}
/*End Search basic*/

@media only screen and (max-width:720px){
  .form-4, .form-3{
    flex-wrap: wrap;
    label{
      width: 50%;
      margin: 0;
      padding: 5px 10px;
    }
  }
}
@media only screen and (max-width:600px){
  .form30, .form50{
    flex-wrap: wrap;
    label{
      margin-bottom: 10px;
    }
  }
}
@media only screen and (max-width:413px){
  .form-4 label, .form-3 label{
    width: 100%;
  }
}