.mobile-menu,
.mobile-menu-close{display: none;}
header{
	width: 100%;
  height: 76px;
  background: #fff;
	padding: 15px 0;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 0;
  clear: both;  
  z-index: 11;
	.logo{
		margin: 0 auto;
    font-family: $font-title;
    font-size: 3rem;
    color: $color-main;
		a{
			display: inline-block;
		}
		img{
			height: 50px;
		}
	}
  .hotline{
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    align-items: center;
    font-family: $font-title;
    font-size: 3rem;
    font-weight: 700;
    color: $color-main;
  }
  .add-property{
    margin: 0 10px;
    .mdi{
      color: $color-main;
    }
    .icon-plus{
      width: 18px;
      height: 18px;
      display: inline-block;
      background: $color-main;
      line-height: 17px;
      color: #fff;
      text-align: center;
      border-radius: 50%;
    }
  }
  .user{
    position: absolute;
    right: 15px;
    top: 0;
    align-items: center;
    .popup-wrapper{
      background: none;
      box-shadow: none;
    }
  }
  .info-user{
    position: relative;
    align-items: center;
    cursor: pointer;
  }
  .avata{
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
    img{
      height: auto;
    }
    &:hover{
      + .list-info-user{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .list-info-user{
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    color: #fff;
    background: $color-main;
    white-space: nowrap;
    border-radius: 3px;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
    a{
      display: block;
      padding: 10px 30px;
      transition: all .4s ease;
      &:hover{
        background: $color-hover;
        text-decoration: none;
      }
    }
    &:hover{
      opacity: 1;
      visibility: visible;
    }
    &.show{
      opacity: 1 !important;
      visibility: visible !important;
    }
    &:before{
      content: '';
      width: 18px;
      height: 18px;
      background: #005387;
      position: absolute;
      right: 10px;
      top: -6px;
      transform: rotate(45deg);
      z-index: -1;
      border-radius: 3px;
    }
    [class^="ti-"], [class*=" ti-"]{
      margin-right: 5px;
    }
  }
}
.wrap-nav{
	width: 100%;
	//float: left;
	background: #fff;
	z-index: 9;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  margin-bottom: 30px;
}
nav{
	background: #fff;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 400;
	color: $color-main;
	position: relative;
	z-index: 9;
  justify-content: center;
	a{
		padding: 15px;
		display: block;
	}
}
.main-menu{
	@extend %flexbox;
  justify-content: center;
	position: relative;
  font-family: $font-title;
  font-size: 2.2rem;
	> li{
		position: relative;
    //color: #fff;
		> .sub-menu{
			background: $color-main;
			position: absolute;
			left: 0;
			top: 100%;
			width: 200px;
			opacity: 0;
			visibility: hidden;
      color: #fff;
      font-size: 1.8rem;
      filter: alpha(opacity=0);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transition: all .2s ease-in-out 0s;
      -o-transition: all .2s ease-in-out 0s;
      transition: all .2s ease-in-out 0s;
      -webkit-transform: rotateX(-90deg);
      -ms-transform: rotateX(-90deg);
      -o-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
			> li {
				//border-bottom:1px solid #2bccac;
				& > .sub-menu{
					background: $color-main;
					position: absolute;
					width: 200px;
					visibility: hidden;
					opacity: 0;
					filter: alpha(opacity=0);
          -webkit-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0;
          -webkit-transition: all .2s ease-in-out 0s;
          -o-transition: all .2s ease-in-out 0s;
          transition: all .2s ease-in-out 0s;
          -webkit-transform: rotateX(-90deg);
          -ms-transform: rotateX(-90deg);
          -o-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
				}
				&:hover{
					& > .sub-menu{
						visibility: visible;
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: rotateX(0deg);
            -ms-transform: rotateX(0deg);
            -o-transform: rotateX(0deg);
            transform: rotateX(0deg);
					}
				}
			}
		}
		&:hover{
			& > .sub-menu{
        top: 100%;
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      > a{
        color: $color-1;
      }
		}
		.mdi{
			font-size: 2rem;
			line-height: 1;
		}
	}
  .current-menu-item{
    > a{
      color: $color-1;
      text-decoration: underline;
    }
  }
  .current-menu-parent{
    > a{
      color: $color-1;
      text-decoration: underline;
    }
  }
}
@media only screen and (min-width:1001px){
	.wrap-nav{
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		left: 0;
		transition: all .4s ease;
		&.pin{
			top: 76px; 
		}
	}
}
@media only screen and (max-width:1000px){
  header{
    height: 95px;
    top: -95px;
    transition: all .3s ease;
    &.pin{
      top: 0;
    }
    .hotline{
      display: none;
    }
    .user{
      top: 10px;
    }
    .avata:hover+.list-info-user{
      opacity: 0;
      visibility: hidden;
    }
  }
  .mobile-menu{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 2.2rem;
    color: $color-main;
  }
	.mobile-menu-close{
		display: block;
    position: fixed;
    right: 5px;
    top: 5px;
    font-size: 50px;
    width: 40px;
    height: 40px;
    z-index: 11;
    text-align: center;
    line-height: 40px;
    font-family: -webkit-body;
	}
	.wrap-nav{
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: #fff;
    z-index: -1;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    .main-menu{
      flex-direction: column;
      > li{
        width: 300px;
        border-bottom: 1px solid $color-border;
        >.sub-menu{
          width: 300px;
          position: static;
          color: #000;
          opacity: 1;
          visibility: visible;
          transform: none;
          background: $color-1-o;
          border-radius: 3px;
          margin: 0 auto 20px;
        }
      }
    }
	}
  .show-menu{
    .wrap-nav{
      z-index: 99;
      opacity: 1;
      visibility: visible;
    }
  }
}
@media only screen and (max-width:600px){
  .add-property{
    display: none;
  }
  .wrap-nav{
    .nav{
      padding: 0;
    }
    .main-menu{
      width: 100%;
      > li{
        width: 100%;
        >.sub-menu{
          width: 100%;
        }
      }
    }
	}
}